{% load i18n %}

<div class="main-content container">
  <form 
    class="main-form"
    action="{{ form_action }}" 
    method="POST"
    enctype="multipart/form-data"  
  >
    {% csrf_token %}

    <div class="form-content form-content-grid">
      {% for field in form %}

        <div class="login-form form-group {{ field.field.widget.attrs.class }}">                                            
          <label for="{{ field.id_for_label }}">

            {% if field.label == 'Username' %}
              {% translate 'Username' %}
            {% elif field.label == 'Password' %}
              {% translate 'Password' %}
            {% else %}
              {{ field.label }}
            {% endif %}

          </label>
          {{ field }}

          {% if field.help_text %}
            <p class="help-text">{{ field.help_text }}</p>
          {% endif %}

          {{ field.errors }}
        </div>

        {% if field.name == 'cover' and field.value.url %}

          <div class="span-2">
            <img src="{{ field.value.url }}" alt="Capa para {{ position.title }}">
          </div>

        {% endif %}

      {% endfor %}
    </div>

    {% if form.errors %}
    <div class="form-content form-content-grid">
      <div class="form-group">
        <div class="message message-error">

          {% translate 'There are errors in the form, please correct them and resubmit' %}

        </div>
      </div>
    </div>
    
    {% endif %}

    <div class="form-content form-content-grid">
      <div class="form-group">
        <button type="submit" class="styled-button">{% translate 'Submit' %}</button>                                            
      </div>
    </div>
  </form>
</div>
