{% load i18n %}

<div class="menu-content">
    <nav class="menu-nav">
      <a href="{% url 'positions:home' %}">{% translate 'Home' %}</a>

      {% if user.is_authenticated %}
        {% if profile.user_type == 'Voluntier' %}

          <a href="{% url 'profiles:dashboard' %}">Dashboard</a>
    

        {% else %}

        <a href="{% url 'profiles:dashboard' %}">Dashboard</a>

        <a>
          <form class="inline-form" action="{% url 'profiles:logout' %}" method='POST'>
            {% csrf_token %}
    
            <input type="hidden" name="email" value="{{ request.user.email }}"> <!-- Alterado para usar email -->
            <button class="plaintext-button" type="submit"> {% translate 'Logout' %} </button>
          </form>
        </a>

        {% endif %}

      {% else %}

        <a href="{% url 'profiles:login' %}">{% translate 'Login' %}</a>
        <a href="{% url 'profiles:register_choice' %}">{% trans 'Register' %}</a>
        
    {% endif %}


    </nav>
</div>