{% extends 'global/base.html' %}

{% load i18n %}

{% block title %}Match{% endblock title %}

{% block content %}
<div class="main-content main-content-detail container">
    <h2>{% translate 'Match' %}</h2>
    {% include 'global/partials/messages.html' %}

    {% for vacancy in vacancies %}
        {% include 'vacancies/partials/vacancy.html' with vacancy=vacancy is_detail_page=False %}
    {% empty %}
        <p>{% translate 'No matching vacancies found' %}</p>
    {% endfor %}
</div>
{% endblock content %}
