{% load i18n %}

{% if user.is_authenticated %}
<div class="login-message">
  {% translate 'You are logged in as' %} 
  {{ request.user.username }}. 
  {% if profile.user_type == 'ONG' %}
  <a href="{% url 'profiles:dashboard' %}">{% translate 'See your vacancies' %}</a>,
    <a href="{% url 'profiles:dashboard_vacancy_new' %}">{% translate 'Create a new vacancy' %}</a>
    {% translate 'or' %}
    <form class="inline-form" action="{% url 'profiles:logout' %}" method='POST'>
      {% csrf_token %}
      <input type="hidden" name="username" value="{{ request.user.username }}">
      <button class="plaintext-button" type="submit">{% translate 'click here' %}</button>
    </form> {% translate 'to logout' %}.
  </div>
  {% else %}
    <a href="{% url 'profiles:dashboard' %}">{% translate 'See your applications' %}</a>
    {% translate 'or' %}
    <form class="inline-form" action="{% url 'profiles:logout' %}" method='POST'>
      {% csrf_token %}
      <input type="hidden" name="username" value="{{ request.user.username }}">
      <button class="plaintext-button" type="submit">{% translate 'click here' %}</button>
    </form> {% translate 'to logout' %}.
  {% endif %}  
{% endif %}