:root {
  --color-primary: #269fe6;
  --color-primary-hover: #2086c2;
  --color-primary-dark: #13141f;
  --color-primary-dark-hover: #212336;
  --color-primary-light: #d4ecfa;
  --color-primary-light-hover: #bdd8e7;

  --color-white: #fff;
  --color-black: #000;

  --color-dark-text: #444;
  --color-info-light: #cce5ff;
  --color-debug-light: #cce5ff;
  --color-success-light: #d4edda;
  --color-alert-light: #fff3cd;
  --color-warning-light: #fff3cd;
  --color-error-light: #f8d7da;

  --color-info-dark: #4d86c4;
  --color-debug-dark: #4d86c4;
  --color-success-dark: #4a9c5d;
  --color-alert-dark: #927f40;
  --color-warning-dark: #927f40;
  --color-error-dark: #da525d;

  --color-gray-0: #f9f9f9;
  --color-gray-1: #e0e0e0;
  --color-gray-2: #c7c7c7;
  --color-gray-3: #aeaeae;
  --color-gray-4: #959595;
  --color-gray-5: #7d7d7d;
  --color-gray-6: #646464;
  --color-gray-7: #4b4b4b;
  --color-gray-8: #323232;
  --color-gray-9: #191919;

  --font-primary: sans-serif;
  --font-headings: 'Roboto Slab', serif;

  --spacing-gutter-medium: 3rem;
  --spacing-gutter-large: 4rem;

  --header-color: rgb(64, 141, 135);
  --page-color: rgb(229, 231, 243);

  --background-color:  rgb(255, 255, 255);
  --medium-background-color: rgb(239, 240, 248);

  --highlight-color:  rgb(91, 184, 169);
  --highlight-border-color: rgb(49, 114, 105);

  --border-color: rgb(172, 172, 182);

  --font-color: rgb(74, 83, 105);
  --light-font-color: rgb(230, 234, 247);

  --linkedin-blue: #0072b1;
  --gmail-red: #f06464;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 1 !important;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--font-primary);
  background: var(--page-color);
  color: var(--font-color);
}

body { /* Test */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings);
}

img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

a {
  color: var(--font-color);
  text-decoration: none;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  padding: var(--spacing-gutter-medium);
}

.main-header-container {
  background: var(--highlight-color);
  /* border-top: solid; */
  /* border-bottom: solid; */
  border-width: 1px;
  border-color: var(--highlight-border-color);
  margin-bottom: 20px;
}

.main-logo {
  font-size: 4rem;
  color: rgb(126, 68, 0);
  text-decoration: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
}

.main-logo-icon {
  margin-right: 2rem;
}

.main-logo-text {
  color: var(--light-font-color);
}

.search-form {
  border: 1px solid var(--border-color);
  max-width: 64rem;
  margin: 0 auto;
  border-radius: 0.4rem;
  position: relative;
  transition: all 300ms ease-in-out;
}

.search-input,
.search-button {
  border: none;
  background: none;
  outline: none;
  padding: 1rem;
  transition: all 300ms ease-in-out;
}

.search-input {
  border-radius: 10px;
  border-color: var(--border-color);
  width: 100%;
  padding-right: 3rem;
  background-color: var(--background-color);
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
}

.search-button:focus {
  outline: 1px solid var(--color-primary);
  background: rgba(0, 0, 0, 0.05);
}

.search-form:focus-within {
  border-color: var(--color-primary);
  background: var(--color-white);
}

.search-form:focus-within .search-button {
  color: var(--color-primary);
}

.main-content {
  padding-top: 0;
}

.main-content-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: var(--spacing-gutter-large);
}

.position {
  background: var(--color-white);
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: all 300ms ease-in-out;
  border-radius: 0.4rem;
  overflow: hidden;

  margin-bottom: 20px;
}

.position img {
  max-width: 100%;
}

.position-list-item {
  background-color: var(--medium-background-color);
  width: 64rem;
  height: fit-content;
  border-radius: 10px;
  margin-top: 10px;
}

.position-list-item:hover {
  transform: scale(1.02);
  box-shadow: -8px 8px 18px rgba(0, 0, 0, 0.25);
}

.position-title-container {
  padding: var(--spacing-gutter-medium);
  padding-bottom: 2rem;
}

.position-title-container a {
  text-decoration: none;
  color: var(--color-primary-dark);
}

.position-profile {
  padding: 0 var(--spacing-gutter-medium);
}

.position-content {
  padding: var(--spacing-gutter-medium);
  padding-top: 2rem;
}

.position-profile-item {
  color: var(--color-gray-4);
  margin-right: 1rem;
  font-style: italic;
  font-size: 1.4rem;
}

.position-profile a {
  color: var(--color-primary);
  transition: all 300ms ease-in-out;
  text-decoration: none;
}

.position-profile a:hover {
  color: var(--color-primary-dark);
}

.position-meta-container {
  display: flex;
  flex-flow: row wrap;
  padding: var(--spacing-gutter-medium);
  background: var(--medium-background-color);
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  border-color: var(--border-color);
}

.position-meta {
  display: flex;
  flex-flow: column nowrap;
  flex-shrink: 1;
  flex-grow: 1;
  text-align: center;
}

.position-meta-title {
  font-size: 1.6rem;
}

.position-footer a {
  background: var(--color-primary-dark);
  display: block;
  color: var(--color-white);
  text-decoration: none;
  text-align: center;
  padding: 1.5rem var(--spacing-gutter-medium);
  transition: all 300ms ease-in-out;
}

.position-footer a:hover {
  filter: brightness(2);
}

.main-content-detail .position-list-item {
  max-width: 84rem;
  /* margin: 0 auto; */
}

.main-content-detail .position-list-item:hover {
  transform: scale(1);
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.2);
}

.preparation-requirements {
  padding: var(--spacing-gutter-medium);
}

.main-footer {
  display: fixed;
  align-items: center;
  justify-content: space-between;
  background-color: var(--highlight-color);
  color: var(--color-white);
  padding: var(--spacing-gutter-large);
  /* border-top: solid; */
  border-width: 1px;
  border-color: var(--highlight-border-color);
  bottom: 0;
  margin-top: auto;
}

.main-footer a {
  font-size: 2rem;
  font-weight: bold;
  color: var(--light-font-color);
  text-decoration: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
  transition: all 300ms ease-in-out;
}

.main-footer a:hover {
  filter: brightness(0.8);
}

.preparation-requirements h1,
.preparation-requirements h2,
.preparation-requirements h3,
.preparation-requirements h4,
.preparation-requirements h5,
.preparation-requirements h6,
.preparation-requirements p,
.preparation-requirements pre {
  margin: 2rem 0;
}

.preparation-requirements ol,
.preparation-requirements ul {
  margin: 2rem;
  padding: 0 2rem;
}

.pagination-content {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem 0.5rem;
}
.pagination .page-item {
  background: var(--color-gray-3);
  padding: 0.5rem 1rem;
}

.pagination .page-link {
  text-decoration: none;
  background: var(--color-primary);
  color: var(--color-white);
}

.pagination .page-current {
  background: var(--color-primary-dark);
}

/* Forms */
.form-content {
  max-width: 64rem;
  margin: 20px;
  margin-bottom: var(--spacing-gutter-medium);
}

.form-content label,
.form-content .help-text,
.errorlist {
  display: block;
  margin: 0.5rem 0;
  font-size: 1.4rem;
  list-style-type: none;
}

.errorlist {
  color: var(--color-error-dark);
}

.form-content input,
.form-content textarea,
.form-content select {
  width: 100%;
  padding: 1rem;
  border-radius: 0.4rem;
  border: 1px solid var(--color-primary-dark);
}

.form-content-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: calc(var(--spacing-gutter-medium) / 2) var(--spacing-gutter-medium);
}

.form-content button {
  border: none;
  background: var(--color-primary-dark);
  color: var(--color-white);
}

.inline-form {
  display: inline;
}

.span-2 {
  grid-column: span 2;
}

#error-application-message {
  text-align: center;
}

.plaintext-button {
  display: inline;
  border: none;
  background: none;
  cursor: pointer;
  color: var(--color-primary);
  font-size: 1.6rem;
}

/* Messages */
.messages-container {
  display: flex;
  flex-flow: column nowrap;
  gap: calc(var(--spacing-gutter-medium) / 2);
}

.message {
  padding: 1rem;
  border-radius: 0.4rem;
  border: 1px solid var(--color-dark-text);
  background: var(--color-gray-2);
  color: var(--color-dark-text);
  margin-top: 10px;
  margin-bottom: 10px;
}

.message-error {
  border: 1px solid var(--color-error-dark);
  background: var(--color-error-light);
  color: var(--color-error-dark);
}

.message-success {
  border: 1px solid var(--color-success-dark);
  background: var(--color-success-light);
  color: var(--color-success-dark);
}

.message-warning {
  border: 1px solid var(--color-warning-dark);
  background: var(--color-warning-light);
  color: var(--color-warning-dark);
}

.message-alert {
  border: 1px solid var(--color-alert-dark);
  background: var(--color-alert-light);
  color: var(--color-alert-dark);
}

.message-info {
  border: 1px solid var(--color-info-dark);
  background: var(--color-info-light);
  color: var(--color-info-dark);
}

.message-debug {
  border: 1px solid var(--color-debug-dark);
  background: var(--color-debug-light);
  color: var(--color-debug-dark);
}

/* Profiles */
.login-message {
  margin: 1rem 0;
}

.profiles-dashboard-container {
  width: 64rem;
  text-align: left;
  padding: var(--spacing-gutter-medium);
  margin-bottom: 20px;
}

.profiles-dashboard-container h3,
.profiles-dashboard-container p,
.profiles-dashboard-container ul {
  list-style-type: none;
  margin: 1rem 0;
}

/* Generics */

.center {
  text-align: center;
  justify-content: center;
}

.left {
  text-align: left;
}

.m-x {
  margin: 0 var(--spacing-gutter-medium);
}

.m-y {
  margin: var(--spacing-gutter-medium) 0;
}

.hidden-text {
  display: none;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 260px;
  min-height: 100vh;
  overflow-y: auto;
  background: var(--color-primary);
  z-index: 2;
  transition: all 300ms ease-in-out;
}

.menu-container a {
  color: var(--color-white);
}

.menu-hidden {
  left: -255px;
}

.button-show-menu {
  position: fixed;
  left: 265px;
  top: 2rem;
  color: var(--color-white);
  background-color: var(--color-primary);
  border: none;
  font-size: 2rem;
  z-index: 3;
  padding: 1rem;
  visibility: hidden;
  opacity: 0;
  transition: all 300ms ease-in-out;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.button-show-menu-visible {
  visibility: visible;
  opacity: 1;
  left: 5px;
}

.button-close-menu {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--color-white);
  background: none;
  border: none;
  font-size: 2rem;
  z-index: 3;
  cursor: pointer;
}

.menu-nav {
  background-color: var(--header-color);
  display: fixed;
  flex-flow: row;
  font-family: var(--font-headings);
  font-size: 2rem;
  text-align: right;
  margin-left: 0;
  margin-right: 0;
  min-height: 30px;
}

.menu-nav a {
  width: 100%;
  padding: 1rem;
  color: var(--light-font-color);
  margin-right: 10px;
}

.form-group {
  margin: 10px;
  margin-left: 0;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: left; */
} 

#centered-form {
  min-width: 100%;
}

/* #shift, #country, #state, #city, #category {
  display: flex;
  margin-left: 5px;
  background-color: var(--background-color);
  padding: 3px 5px 3px 5px;
  border-radius: 10px;
  border-color: var(--border-color);
  border-style: solid;
  border-width: 1px;
} */

#shift, #country, #state, #city, #category {
  min-width: 120px;
}

.styled-button {
  background-color: var(--color-black);
  width: 70px;
  justify-content: center;
  padding: 5px 5px 5px 5px;
  border-radius: 0.4rem;
  border: none;
  color: var(--light-font-color);
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 15px;
}

#button-logout {
  background-color: var(--header-color);
  display: fixed;
  flex-flow: row;
  font-family: var(--font-headings);
  font-size: 2rem;
  text-align: right;
  margin-left: 0;
  margin-right: 0;
  min-height: 30px;
  color: (var(--light-font-color));
}

#btn-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#btn-far {
  margin-top: 50px;
}

#btn-fat {
  width: 140px;
  margin-bottom: 20px;
}

#btn-lil-far {
  margin-top: 20px;
  /* width: 140px; */
  margin-bottom: 20px;
}

#position-user-info {
  margin: 20px;
}

#div-centered-matches {
  display: flex;
  flex-direction: column;

  align-items: center;
}



.profiles-dashboard-container {
  background-color: var(--background-color);
  margin-top: 10px;
  border-radius: 10px;
  border-color: var(--border-color);
  /* border-style: solid; */
  border-width: 1px;
}

#apply-span {
  color: var(--light-font-color);
  background-color: var(--color-black);
  display: inline-block;
  padding: 5px 5px 5px 5px;
  min-width: 70px;
  /* border: solid; */
  border-width: 1px;
  border-color: var(--highlight-border-color);
  border-radius: 10px;
  justify-content: center;
  text-align: center;
  font-size: 15px;
}

#submit-cv-form {
  margin-top: 10px;
}

.main-content.center.container {
  padding-bottom: 0;
}

/* #id_username, #id_password, #id_email{
  margin-left: 10px;
  min-width: 200px;
  border: solid;
  border-width: 1px;
  border-color: var(--border-color);
  border-radius: 10px;
  background-color: var(--background-color);
  padding: 5px;
} */

#id_user_type, 
#id_first_name, 
#id_last_name, 
#id_email, 
#id_password,
#id_password2,

#id_title,
#id_name,
#id_cnpj,
#id_birth_date,
#id_confirm_password,
#id_cpf,
#id_description,
#id_category,
#id_subcategory,
#id_shift,
#id_country,
#id_state,
#id_city,
#id_logradouro,
#id_requirements,
#id_cover,

#id_experiences,
#id_languages,

#zone,
#id_zone,

#shift, #country, #state, #city, #category,
#id_cep, #id_neighborhood, #id_street, #id_more, 
#neighborhood, #id_about, #id_linkedin

{
  margin-top: 5px;
  margin-bottom: 15px;
  border-width: 1px;
  border-color: var(--border-color);
  border-radius: 0.4rem;
  background-color: var(--background-color);
  padding: 5px;

  display: flex;
  background-color: var(--background-color);
  padding: 3px 5px 3px 5px;
  border-color: var(--border-color);
  border-style: solid;
  border-width: 1px;

  width: 100%;
}

#a-linkedin {
  color: var(--linkedin-blue);
}

#span-email {
  color: var(--gmail-red);
}

b {
  font-weight: 600 !important;
}

#id-div-applications {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* #id_about {
  line-height: 3em;
} */

#position-user-info, #application-item {
  word-wrap: break-word;
}

#application-item {
  margin-top: 20px;
  /* max-width: 50%; */
}

#need-to-be-voluntier {
  margin: 0px 0px 20px 20px;
}

.main-content {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.main-content-container {
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
}

form p {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 20%;
}

.form-group {
  width: 100%;
}

#larger {
  width: 64rem;
}

@media (max-width: 600px) {
  .main-content-list,
  .form-content-grid {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}

.position-list-item p {
  padding: 5px;
} 

form {
  justify-content: center;
}