{% extends 'global/base.html' %}

{% load i18n %}

{% block title %}Match{% endblock title %}

{% block content %}
    <div class="main-content main-content-detail container">
        <h2>{% translate 'Match' %}</h2>
        {% include 'global/partials/messages.html' %}

        <form id="larger" method="get">
            <div id="centered-form" class="form-group">
                {{ form.shift.label_tag }} {{ form.shift }}
            </div>
            <div id="centered-form" class="form-group">
                {{ form.category.label_tag }} {{ form.category }}
            </div>
            <div id="centered-form" class="form-group">
                {{ form.state.label_tag }} {{ form.state }}
            </div>
            <div id="centered-form" class="form-group">
                {{ form.city.label_tag }} {{ form.city }}
            </div> 
            <div id="centered-form" class="form-group">
                {{ form.neighborhood.label_tag }} {{ form.neighborhood }}
            </div>
            <button id="btn-lil-far" type="submit" class="styled-button">{% translate 'Search' %}</button>
        </form>

        <!-- Display positions -->
        {% for positions in position %}
            {% include 'positions/partials/position.html' with position=position is_detail_page=False %}
        {% empty %}
            <p>{% translate 'No matching positions found' %}</p>
        {% endfor %}
    </div>
{% endblock content %}
