{% load i18n %}

<div class="position position-list-item">
    {% if position.cover %} 
        <div class="position-cover">
            <a href="{{ position.get_absolute_url }}">
                <img src="{{ position.cover.url }}" alt="Temporário">
            </a>
        </div>
    {% endif %}

    <div class="position-title-container">
        <h2 class="position-title">
            <a href="{{ position.get_absolute_url }}">
                {{ position.title }} <br>
            </a>
        </h2>
        
        <h4 class="position-title">
            <a href="{{ position.get_absolute_url }}">
                {{ position.profile }} <br>
            </a>
        </h4>
    </div>


    <div class="position-profile">
        {% if position.profile is not None %}
            <span class="position-profile-item">
                <i class="fas fa-user"></i>
                {% if position.profile.first_name %}
                    {{ position.profile.first_name }} {{ position.profile.last_name }}
                {% else %}
                    {{ position.profile.email }}
                {% endif %}
            </span>
        {% endif %}

        <span class="position-profile-item">
            <i class="fas fa-calendar-alt"></i>
            {{ position.created_at|date:"d/m/Y" }} {{ position.created_at|date:"H:i" }}
        </span>

        {% if position.category is not None %}
            <span class="position-profile-item">
                <a href="{% url 'positions:category' position.category.id %}">
                    <i class="fas fa-layer-group"></i>
                    <span>{{ position.category.name }}</span>
                </a>
            </span>
        {% endif %}
    </div>

    <div class="position-content">
        <p>{{ position.description }}</p>
    </div>

    <div class="position-meta-container">
        <div class="position-meta position-preparation">
            <h3 class="position-meta-title">{% translate "Shift" %}: {{ position.get_shift_display }}</h3>
            <h3 class="position-meta-title">{% translate "State" %}: {{ position.state }}</h3>
            <h3 class="position-meta-title">{% translate "City" %}: {{ position.city }}</h3>
            <h3 class="position-meta-title">{% translate "Neighborhood" %}: {{ position.neighborhood }}</h3>
            <h3 class="position-meta-title">{% translate "Address" %}: {{ position.street }}, {{ position.more }} </h3>
        </div>
    </div>

    {% if is_detail_page is not True %}
        <footer class="position-footer">
            <a class="position-read-more button button-dark button-full-width" href="{% url 'positions:position' position.id %}">
                <i class="fas fa-eye"></i>
                <span>{% translate "See more" %}...</span>
            </a>    
        </footer>
    {% endif %}

    {% if is_detail_page is True %}
        {% if user.is_authenticated %}
            {% if user_profile %}
                <div>
                    <p>{% translate "Name" %}: {{ user_profile.first_name }} {{ user_profile.last_name }}</p>
                    <p>{% translate "About" %}: {{ user_profile.about }}</p>
                    <p>{% translate "LinkedIn" %}: <a href="{{ user_profile.linkedin }}">{{ user_profile.linkedin }}</a></p>
                </div>

                {% if application_success %}
                    <p>{% translate "Your application has been submitted successfully!" %}</p>
                {% else %}
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="styled-button">{% translate 'Confirm Application' %}</button>
                    </form>
                {% endif %}
            {% else %}
                <p>{% translate "You need to be a Voluntier to apply" %}.</p>
            {% endif %}
        {% else %}
            <p>{% translate "You need to be logged in to apply" %}.</p>
        {% endif %}
    {% endif %}
</div>
