{% extends 'global/base.html' %}

{% load i18n %}

{% block title %}Dashboard ({{ user }}) | {% endblock title %}

{% block content %}
  <div class="main-content center container">
    <h2>Dashboard ({{ user }})</h2>

    {% include 'profiles/partials/login_message.html' %}
    {% include 'global/partials/messages.html' %}

    <div class="profiles-dashboard-container">
      {% if user_type == 'ONG' %}
      <h3>{% translate 'vacancies' %}</h3>
        <ul>
          {% for vacancy in vacancies %}
            <li>
              <a href="{% url 'profiles:dashboard_vacancy_edit' vacancy.id %}">{{ vacancy.title }}</a>
              <form class="inline-form form-delete" action="{% url 'profiles:dashboard_vacancy_delete' %}" method='POST'>
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ vacancy.id }}">
              </form>
            </li>
          {% empty %}
            <li>
              <p>{% translate 'You do not have any vacancy' %}.</p>
            </li>
          {% endfor %}
        </ul>
      {% elif user_type == 'Voluntier' %}
      <h3>{% translate 'applications' %}</h3>
        <ul>
          {% for application in applications %}
            <li>
              {{ application.vacancy.title }} - {% translate 'application made at' %} {{ application.date }}
            </li>
          {% empty %}
            <li>
              <p>{% translate 'You do not have applied for any vacancy' %}.</p>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>User type not recognized.</p>
      {% endif %}
    </div>
  </div>
{% endblock content %}
