<!-- profiles/templates/profiles/pages/dashboard.html -->
{% extends 'global/base.html' %}

{% load i18n %}

{% block title %}Dashboard ({{ profile }}) | {% endblock title %}

{% block content %}
  <div class="main-content center container">
    <h2>Dashboard ({{ profile }}) </h2>

    {% include 'profiles/partials/login_message.html' %}
    {% include 'global/partials/messages.html' %}

    <div class="profiles-dashboard-container">
      {% if user_type == 'Voluntier' %}
      
      <form method="post" action="">
        {% csrf_token %}
        {{ voluntier_form.as_p }}
        <button type="submit" class="styled-button"> {% translate 'Save' %}</button> 
      </form>

      <h3>{% translate 'Find Matching positions' %}</h3>

      <form method="get" action="{% url 'profiles:match' %}">
        {% csrf_token %}

          <div id="centered-form" class="form-group">
              <label for="shift">{% translate 'Shift' %}</label>
              <select name="shift" id="shift">
                  {% for value, display in form.fields.shift.choices %}
                      <option value="{{ value }}" {% if form.data.shift == value %}selected{% endif %}>{{ display }}</option>
                  {% endfor %}
              </select>
          </div>

          <div id="centered-form" class="form-group">
              <label for="category">{% translate 'Category' %}</label>
              <select name="category" id="category">
                  {% for category in form.fields.category.queryset %}
                      <option value="{{ category.id }}" {% if form.data.category == category.id|stringformat:"s" %}selected{% endif %}>{{ category.name }}</option>
                  {% endfor %}
              </select>
          </div>

          <div id="centered-form" class="form-group">
              <label for="state">{% translate 'State' %}</label>
              <select name="state" id="state">
                  {% for value, display in form.fields.state.choices %}
                      <option value="{{ value }}" {% if form.data.state == value %}selected{% endif %}>{{ display }}</option>
                  {% endfor %}
              </select>
          </div>

          <div id="centered-form" class="form-group">
              <label for="city">{% translate 'City' %}</label>
              <select name="city" id="city">
                  {% for value, display in form.fields.city.choices %}
                      <option value="{{ value }}" {% if form.data.city == value %}selected{% endif %}>{{ display }}</option>
                  {% endfor %}
              </select>
          </div>

          <div id="centered-form" class="form-group">
              <label for="neighborhood">{% translate 'Neighborhood' %}</label>
              <select name="neighborhood" id="neighborhood">
                  {% for value, display in form.fields.neighborhood.choices %}
                      <option value="{{ value }}" {% if form.data.neighborhood == value %}selected{% endif %}>{{ display }}</option>
                  {% endfor %}
              </select>
          </div>

          <button type="submit" class="styled-button">{% translate 'Match' %}</button>
      </form>

      {% endif %}

      {% if user_type == 'ONG' %}
      <a href="{% url 'profiles:dashboard_position_new' %}" id="create-new-position">➕ {% translate 'Create a new position' %}</a>
      <h3>{% translate 'positions' %}</h3>         

      <ul>
        {% for positions in position %}
          <li>
            {{ position.title }}
            <br>
            <a href="{% url 'profiles:dashboard_position_edit' position.id %}" class="plaintext-button">⚙️ {% translate 'Edit' %}</a> <b>|</b>
            <a href="{% url 'profiles:dashboard_position_applications' position.id %}" class="plaintext-button">📝 {% translate 'Applications' %}</a> <b>|</b>
            <form class="inline-form form-delete" action="{% url 'profiles:dashboard_position_delete' %}" method='POST'>
              {% csrf_token %}
              <input type="hidden" name="id" value="{{ position.id }}">
              <button class="plaintext-button" type="submit">❌ {% translate 'Delete' %}</button>
            </form>
          </li>
          <br>
        {% empty %}
          <li>
            <p>{% translate 'You do not have any position' %}.</p>
          </li>
        {% endfor %}
      </ul>

      {% elif user_type == 'Voluntier' %}
      <h3>{% translate 'Applications' %}</h3>                                            
      <ul>
        {% for application in applications %}
          <li>
            {{ application.position.title }} - {% translate 'application made at' %} {{ application.date }}
          </li>
        {% empty %}
          <li>
            <p>{% translate 'You have not applied for any position' %}.</p>                                            
          </li>
        {% endfor %}
      </ul>

      {% else %}
      <p>{% translate 'User type not recognized' %}.</p>
      {% endif %}
    </div>
  </div>
  
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const forms = document.querySelectorAll('.form-delete');
      forms.forEach(form => {
        form.addEventListener('submit', function(e) {
          e.preventDefault();
          const confirmed = confirm('Tem certeza que deseja excluir esta vaga?')
          if (confirmed) {
            this.submit();
          }
        });
      });
    });
  </script>
  
{% endblock content %}
