{% extends 'global/base.html' %}

{% load i18n %}
{% load static %}

{% block title %} Create position | {% endblock title %}

{% block content %}

  <div class="main-content center container">
    <h2>{% translate 'Create position' %}</h2>
    
    {% include 'global/partials/messages.html' %}
    <form id="grid-form" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}

      <button id="btn-lil-far" type="submit" class="styled-button">{% translate 'Save' %}</button>
    </form>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
        const cepInput = document.getElementById('id_cep');
        
        function debounce(func, wait) {
            let timeout;
            return function(...args) {
                clearTimeout(timeout);
                timeout = setTimeout(() => func.apply(this, args), wait);
            };
        }

        function fetchAddress(cep) {
            if (cep.length === 8) {
                fetch(`https://viacep.com.br/ws/${cep}/json/`)
                    .then(response => response.json())
                    .then(data => {
                        if (!data.erro) {
                            document.getElementById('id_state').value = data.uf;
                            document.getElementById('id_city').value = data.localidade;
                            document.getElementById('id_neighborhood').value = data.bairro;
                            document.getElementById('id_street').value = data.logradouro;
                        } else {
                            alert('CEP não encontrado.');
                        }
                    })
                    .catch(error => console.error('Error fetching CEP:', error));
            }
        }

        if (cepInput) {
            cepInput.addEventListener('input', debounce(function() {
                const cep = this.value.replace(/\D/g, '');
                fetchAddress(cep);
            }, 500));
        }
    });
  </script>

{% endblock content %}