{% extends 'global/base.html' %}

{% load i18n %}

{% block title %}{% translate "Applications for" %} {{ position.title }}{% endblock title %}

{% block content %}
<div id="id-div-applications">
    <h2>{% translate "Applications for" %} {{ position.title }}</h2>

    <ul id="application-item">
        {% for application in applications %}
            <li>
                <b>{% translate "Name" %}:</b> {{ application.voluntier.first_name }} {{ application.voluntier.last_name }} <b>| Email:</b> <span id="span-email">{{ application.voluntier.user.email }}</span> <b>| LinkedIn:</b> <a href="{{ application.voluntier.linkedin }}" id="a-linkedin" target="_blank">{{ application.voluntier.linkedin }}</a>
                <br><br><b>{% translate "About" %}:</b> {{ application.voluntier.about }}
            </li>
            <br>
        {% empty %}
            <li>{% translate "No applications found." %}</li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}
