{% extends 'global/base.html' %}

{% load i18n %}

{% block title %}Applications for {{ position.title }}{% endblock title %}

{% block content %}
<h2>Applications for {{ position.title }}</h2>

<ul>
    {% for application in applications %}
        <li>
            {{ application.voluntier.first_name }} {{ application.voluntier.last_name }} - {{ application.date }}
        </li>
    {% empty %}
        <li>{% translate "No applications found." %}</li>
    {% endfor %}
</ul>
{% endblock content %}
