{% extends 'global/base.html' %}

{% load i18n %}

{% block title %}{% translate "Applications for" %} {{ position.title }}{% endblock title %}

{% block content %}
<h2>{% translate "Applications for" %} {{ position.title }}</h2>

<ul>
    {% for application in applications %}
        <li>
            {{ application.voluntier.first_name }} {{ application.voluntier.last_name }} - 
            {{ application.voluntier.user.email }} - 
            <a href="{{ application.voluntier.linkedin }}" target="_blank">{{ application.voluntier.linkedin }}</a> - 
            {{ application.voluntier.about }}
        </li>
    {% empty %}
        <li>{% translate "No applications found." %}</li>
    {% endfor %}
</ul>
{% endblock content %}
